
@{
    Layout = "~/Views/Dashboard/headerdashboard.cshtml";
}
@using BetTracker.Models

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <meta name="viewport" content="width=device-width" />
    <title>Domov</title>
</head>
@{ 
    var data = ViewBag.Message;
}
<body>
    <div class="container">
        <div class="bg-light text-dark" style="padding: 30px; border-radius: 20px;">
            <p class="h4 mb-4">Nova stava</p>

            @{
                if (data != null)
                {
                    <div class="alert alert-danger">
                        @data
                    </div>
                }
            }

            <form action="VnesiStavo" method="post" id="vnos">
                <div class="form-group">
                    <label>Domača ekipa:</label>
                    <input type="text" name="domaca_ekipa" class="form-control" id="domaca_ekipa">
                </div>

                <div class="form-group">
                    <label>Gostujoča ekipa:</label>
                    <input type="text" name="gostujoca_ekipa" class="form-control" id="gostujoca_ekipa">
                </div>

                <div class="form-group">
                    <label>Šport:</label>
                    <select class="form-control" name="sport" id="sport">
                        <option value="1">Nogomet</option>
                        <option value="2">Košarka</option>
                        <option value="3">Tenis</option>
                        <option value="4">E-šport</option>
                        <option value="5">Hokej</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Kvota:</label>
                    <input type="text" name="kvota" class="form-control" id="kvota">
                </div>

                <div class="form-group">
                    <label>Vložek:</label>
                    <input type="text" name="stava" class="form-control" id="stava">
                </div>

                <div class="form-group" style="display: none" id="pick">
                    <label>Izbira:</label>
                    <select name="izbera" class="form-control" id="izbera"></select>
                </div>

                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" name="status" id="status">
                        <option value="1">Zadeto</option>
                        <option value="2">Izgubljeno</option>
                        <option value="3">Ne odigrano</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-info">Dodaj</button>
            </form>
        </div>
        </div>
</body>
</html>


<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }

    setInputFilter(document.getElementById("kvota"), function (value) {
        return /^\d*\,?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("stava"), function (value) {
        return /^\d*\,?\d*$/.test(value);
    });


    let domaca_ekipa = document.getElementById('domaca_ekipa');

    domaca_ekipa.addEventListener('change', function () {
        pick.style = "display: block";
        let d_ekipa = domaca_ekipa.value;

        let option = document.createElement('option');
        option.value = d_ekipa;
        option.innerHTML = d_ekipa;

        let select = document.getElementById('izbera');
        select.innerHTML = '';
        select.appendChild(option);

        let d_value = document.getElementById('gostujoca_ekipa').value;
        if (d_value != '') {
            let option = document.createElement('option');
            option.value = d_value;
            option.innerHTML = d_value;
            select.appendChild(option);
        }
    });

    let gostujoca_ekipa = document.getElementById('gostujoca_ekipa');

    gostujoca_ekipa.addEventListener('change', function () {
    
        pick.style = "display: block";
        let d_ekipa = gostujoca_ekipa.value;

        let option = document.createElement('option');
        option.value = d_ekipa;
        option.innerHTML = d_ekipa;

        let select = document.getElementById('izbera');
        select.innerHTML = '';

        let d_value = document.getElementById('domaca_ekipa').value;
        if (d_value != '') {
            let option = document.createElement('option');
            option.value = d_value;
            option.innerHTML = d_value;
            select.appendChild(option);
        }
       
        select.appendChild(option);
    });
</script>

