
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Home/headerhome.cshtml";
}

<div class="container">
    <div class="bg-light text-dark" style="padding: 30px; border-radius: 20px;">
        <h2>Informacije</h2>
        <p>
            <h5>Stave? Zaslužek? Izgubljanje denarja? </h5>
            Kot vsak uspešen stavničar, si vodi evidenco tudi ti.
            <br />
            <br />
            Stran je nastala zaradi potrebe med nami - prijatelji, ljubiteljski stavničarji.
            Med prijatelji velikokrat zaide tema na stave, velikokrat primerjamo stave med seboj, vendar noben ne vodi evidence.
            Noben ne ve, kdo najboljši stavničar v deželi je tej.
            <br />
            <br />
            Zato sta se dva mlada, pogumna ljubiteljska stavničarja Jure Mohar in Tilen Zalar, odločila, da naredita točno to kar potrubejemo.
            Nastala je stran Betting Tracker, kjer se lahko registriraš oz. prijaviš, vodiš evidenco svojih stav, vidiš vse podrobnosti teh stav,
            ter najpomembneje vidiš kdo najboljši stavničar v deželi je tej.
            Ne verjameš? Preveri sam, <a href="/Home/Registracija">registriraj se</a>.

        </p>

        <p>
            Za pripombe, pohvale in prošnje naju lahko kontaktirate na jure@bettingtracker.com in tilen@bettingtracker.com
        </p>
    </div>
</div>

