
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Home/headerhome.cshtml";
}

<div class="container">
    <h2>Informacije</h2>
    <p>
        Spletna stran je v fazi razvoja. Je avtorsko delo Jureta Moharja in Andreja Šušteršiča. Stran je bila zgrajena, saj sva oba rabila dober način shranjevanje single stav.
    </p>

    <p>
        Za pripombe, pohvale in prošnje naju lahko kontaktirate na jure@bettingtracker.com in andrej@bettingtracker.com
    </p>
</div>

