
@{
    Layout = "headerhome.cshtml";
    ViewData["Title"] = "Registracija";
}

<body>
    @{
        var drzave = ViewBag.Drzava;
    }
    <div class="container" style="display: flex; justify-content: center">
        <!-- Default form register -->
        <form class="text-center border border-light p-5" action="Vstavi" method="post" style="width: 900px;">

            <p class="h4 mb-4">Registracija</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="ime" name="ime" class="form-control" placeholder="Ime">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" name="priimek" id="priimek" class="form-control" placeholder="Priimek">
                </div>
            </div>

            <!-- E-mail -->
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">

            <select class="form-control mb-4" name="drzava">
                @foreach (var d in drzave)
                {
                    <option value="@d.ID_drzava">@d.Ime</option>
                }
            </select>

            <!-- Password -->
            <input type="password" name="geslo" id="geslo" class="form-control mb-4" placeholder="Geslo" aria-describedby="geslo">

            <input type="password" name="geslo_ponovi" id="geslo_ponovi" class="form-control mb-4" placeholder="Ponovi geslo" aria-describedby="geslo_ponovi">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                Minimalno 8 znakov in 1 številka
            </small>

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Registracija</button>

            <hr>

            <!-- Terms of service -->
            <p>
                Z registracijo se strinjate z našimi pogoji
              <a href="" target="_blank">pogoji uporabe</a>

        </form>
        <!-- Default form register -->
    </div>
</body>
