
@{
    Layout = "headerhome.cshtml";
    ViewData["Title"] = "Registracija";
}

<body>
    @{
        var drzave = ViewBag.Drzava;
    }
    <div class="container">
        <form action="Vstavi" method="post" class="col-md-6">
            <div class="form-group">
                <label>Ime:</label>
                <input type="text" name="ime" class="form-control" id="ime" placeholder="Vnesite ime uporabnika">
            </div>

            <div class="form-group">
                <label>Priimek:</label>
                <input type="text" name="priimek" class="form-control" id="priimek" placeholder="Vnesite priimek uporabnika">
            </div>

            <div class="form-group">
                <label>Email: </label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Vnesite svoj email naslov">
            </div>

            <div class="form-group">
                <label>Država:</label>
                <select class="form-control" name="drzava">
                    @foreach (var d in drzave)
                    {
                        <option value="@d.ID_drzava">@d.Ime</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Geslo:</label>
                <input type="password" name="geslo" class="form-control" id="geslo" placeholder="Vpišite geslo">
            </div>

            <div class="form-group">
                <label>Ponovi geslo:</label>
                <input type="password" name="geslo_ponovi" class="form-control" id="geslo_ponovi" placeholder="Ponovite geslo">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
